.root {
    -fx-base: rgb(50, 50, 50);
    -fx-background: rgb(50, 50, 50);
    -fx-control-inner-background: rgb(50, 50, 50);
    -fx-alignment: center;
    -fx-spacing: 10px;
}

/*******************************************************************************
 *                                                                             *
 * Copied from sun's modena.css buttons skins, to                              *
 * fix issues with custom cursors.                                             *
 *                                                                             *
 ******************************************************************************/

.button-no-custom-cursor {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.button-no-custom-cursor:hover {
    -fx-color: -fx-hover-base;
}

.button-no-custom-cursor:armed {
    -fx-color: -fx-pressed-base;
}

.button-no-custom-cursor:focused {
    -fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color, -fx-faint-focus-color, -fx-body-color;
    -fx-background-insets: -0.2, 1, 2, -1.4, 2.6;
    -fx-background-radius: 3, 2, 1, 4, 1;
}

.button-no-custom-cursor:disabled {
    -fx-opacity: 0.4;
}

.button-no-custom-cursor:show-mnemonics > .mnemonic-underline {
    -fx-stroke: -fx-text-base-color;
}

.button-no-custom-cursor:default {
    -fx-base: -fx-default-button;
}

/* ====   END OF COPIED PART   ============================================== */

.button, .radio-button, .button-no-custom-cursor {
    -fx-min-height: 30px;
    -fx-min-width: 100px;
    -fx-text-alignment: center;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
}

.radio-button, .menu-button, .button, .menu-item {
    -fx-cursor: hand;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.maintitle {
    -fx-font-size: 48pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-fill: white;
    -fx-opacity: 0.8;
}

.mainmenu {
    /*TODO: fancy bg?*/
}

.hand-box:disabled {
    -fx-min-height: 0;
    -fx-pref-height: 0;
}

/*  This doesn't work atm : https://bugs.openjdk.java.net/browse/JDK-8089191
    It would be much more easy to manage than the shit I need to do as workaround u_u
.hit {
    -fx-cursor: url(card-draw.png), hand;
}

.stand {
    -fx-cursor: url(card-discard.png), hand;
}*/
